<a href="https://colab.research.google.com/github/elakkiya-02/PortfolioProjects/blob/main/DescriptiveStatistics_HandsOn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/analyticsindiamagazine/MocksDatasets/main/Data%20Science%20Salary.csv')
data.head()

,S.No.,Company Name,Job Title,Salaries Reported,Location,Salary
0,0,Mu Sigma,Data Scientist,105,Bangalore,648573.0
1,1,IBM,Data Scientist,95,Bangalore,1191950.0
2,2,Tata Consultancy Services,Data Scientist,66,Bangalore,836874.0
3,3,Impact Analytics,Data Scientist,40,Bangalore,669578.0
4,4,Accenture,Data Scientist,32,Bangalore,944110.0

In [2]:
#returned dataframe from pandas

data.shape

(1838, 6)

In [3]:
len(data)

1838

In [4]:
data.columns

Index(['S.No.', 'Company Name', 'Job Title', 'Salaries Reported', 'Location',
       'Salary'],
      dtype='object')

In [5]:
len(data.columns)

6

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1838 entries, 0 to 1837
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              1838 non-null   int64
 1   Company Name       1838 non-null   object
 2   Job Title          1838 non-null   object
 3   Salaries Reported  1838 non-null   int64
 4   Location           1838 non-null   object
 5   Salary             1838 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 86.3+ KB

In [7]:
#no args specified - takes only the numeric features
data.describe()

             S.No.  Salaries Reported        Salary
count  1838.000000        1838.000000  1.838000e+03
mean   2067.449946           5.195321  8.854720e+05
std    1087.870929           7.241193  6.070953e+05
min       0.000000           2.000000  2.952000e+04
25%    1438.250000           2.000000  4.842555e+05
50%    2174.500000           3.000000  7.326685e+05
75%    2824.750000           5.000000  1.139704e+06
max    4314.000000         105.000000  6.518917e+06

In [8]:
#now including non-numerical features
data.describe(include='object')

                     Company Name     Job Title   Location
count                        1838          1838       1838
unique                       1029            20          5
top     Tata Consultancy Services  Data Analyst  Bangalore
freq                           26           733        672

In [9]:
#Category variable - Location
#counting uniquely

data['Location'].value_counts()

Bangalore    672
New Delhi    402
Pune         255
Mumbai       255
Hyderabad    254
Name: Location, dtype: int64

In [10]:
data['Company Name'].value_counts()

Tata Consultancy Services    26
Amazon                       24
Accenture                    21
First Student                20
IBM                          18
                             ..
Karza Technologies            1
Dure Technologies             1
Kotak Mahindra                1
Freshworks                    1
iSchoolConnect                1
Name: Company Name, Length: 1029, dtype: int64

In [13]:
data['Job Title'].value_counts()

Data Analyst                           733
Data Scientist                         674
Data Engineer                          313
Machine Learning Engineer               85
Senior Data Scientist                    9
Data Science                             6
Senior Machine Learning Engineer         3
Lead Data Scientist                      2
Junior Data Scientist                    2
Data Science Manager                     1
Data Scientist - Trainee                 1
Data Science Lead                        1
Data Science Associate                   1
Machine Learning Data Associate          1
Machine Learning Data Associate I        1
Machine Learning Associate               1
Machine Learning Data Associate II       1
Associate Machine Learning Engineer      1
Machine Learning Data Analyst            1
Data Science Consultant                  1
Name: Job Title, dtype: int64

In [15]:
#total_count unique count
#data['Job Title'].count() 
data['Job Title'].nunique()

20

In [16]:
data['Salary'].nunique()

1688

In [17]:
#Measures of central tendency
data['Salary'].mean()

885472.0192709467

In [18]:
data['Salary'].median()

732668.5

In [19]:
data['Salary'].mode()

0    1200000.0
dtype: float64

In [20]:
#Measures of spread
data['Salary'].std()

607095.2502229405

In [21]:
data['Salary'].min()

29520.0

In [22]:
data['Salary'].max()

6518917.42

In [23]:
#Querying
import numpy as np

In [24]:
#job title and the name of the company where highest salary is reported
#Location with Highest Salary

find = np.where(data['Salary'] == data['Salary'].max())
find

(array([1798]),)

In [25]:
#2d array, index location
find[0][0]

1798

In [26]:
data['Job Title'][find[0][0]]

'Machine Learning Engineer'

In [27]:
data['Company Name'][find[0][0]]

'Amazon'

In [29]:
data['Job Title'][np.where(data['Salary'] == data['Salary'].max())[0][0]]

'Machine Learning Engineer'